<!DOCTYPE html>
<html>
  <head>
    <title>RecipeFinder</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <header class="navbar">
    <h3>Recipe Finder</h3>
    <div class="navbar-class">
      <div class="container-fluid">
      </div>
    </div>
  </header>
  <body class="container-fluid">
    <%= yield %>
  </body>
</html>
